
<sound-manager></sound-manager>
<div class="flex-row">
  <div class="actions flex50">
    <button music-player="play" add-song="song" ng-if="!currentPlaying" class="btn btn-fab btn-raised"><i class="mdi-image-audiotrack"></i></button>
    <button play-music="play-music" ng-if="currentPlaying &amp;&amp; !isPlaying" class="btn btn-fab btn-raised"><i class="mdi-av-play-arrow"></i></button>
    <button pause-music="pause-music" ng-if="isPlaying" class="btn btn-fab btn-raised"><i class="mdi-av-pause"></i></button>
    <button stop-music="stop-music" ng-if="isPlaying" class="btn btn-fab btn-raised"><i class="mdi-av-stop"></i></button>
  </div>
  <div class="information flex50">
    <p>{{ currentPlaying.title }} by {{ currentPlaying.artist }} </p>
    <p>({{ currentPostion }} / {{ currentDuration }})</p>
    <div seek-track="seek-track" ng-class="{active:isPlaying}" class="bar progress progress-striped seekBase">
      <div ng-style="{width: ( progress + '%' ) }" class="progress-bar seekLoad"></div>
    </div>
  </div>
</div>