.audio-player{
	.actions{
		button{
			i{
				font-size: 33px;
				position: relative;
				top: -5px;
				left: -3px;
			}
		}
	}
	.information{
		.bar{
			height: 10px;
			cursor: pointer;
		}
		p{
			margin: 0;
		}
	}

}

.audio-player.small{
	max-width: 300px;
	margin:auto;
}