html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width, user-scalable=no")
		link(rel="stylesheet",href="node_modules/angular-material/angular-material.min.css")
		link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
		//- link(rel="stylesheet", type="text/css", href="assets/css/podcast.css")
		style.
			#complete-content{
				position: absolute;
				top: 0;
				bottom: 75px;
				width: 100%;
			}
			.inner-content{
				margin-bottom: 75px;
			}
			#soundmanager{
				position: fixed;
				height: 75px;
				bottom: 0;
				left: 0;
				right: 0;
				color: black;
				z-index: 99;
				box-shadow: 0 0 8px #888888;
				box-shadow: 0 0 8px rgba(0,0,0,.4);
				cursor: default;
				width:100%;
				background: #FFF;
			}
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
				display: none !important;
			}
	body(ng-controller="MainCtrl as main")
		#complete-content(ng-cloak)
			.inner-content
				md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left")
					md-toolbar.md-theme-light
						.md-toolbar-tools(layout="row")
							h1(flex) Podcast
							md-button.md-primary(ng-click="main.closeMenu()",flex) 
								i.material-icons close
					md-content(ng-controller="MenuCtrl as menu",layout-padding)
						ul
							li 
								a(href="#/",ng-click="main.closeMenu()") Home
						
				nav.md-content
					md-toolbar.md-theme-light
						.md-toolbar-tools(layout="row")
							md-button.md-primary(ng-click="main.openMenu()",flex="10")
								i.material-icons menu
							md-input-container(md-no-float,flex="70")
								md-icon.material-icons(alt="search") search
								input(ng-model="main.globalSearch",placeholder="Search")
							div(flex="20")
								p more
				.content(ng-view)
				//- button(music-player="play",add-song="main.song") como fue
		podcast-player
		script( typer="text/javascript",src="app-built.js" )