#add-episode
	button.btn(ng-click="aepisode.goBack();")
		.mdi-navigation-chevron-left
		| &nbsp; Regresar a Lista de Episodios
	.well.bs-component(ng-if="!aepisode.new.fileName")
		.progress.progress-striped(ng-show="aepisode.audioFile.progress >= 0")
			.progress-bar.progress-bar-info(style="width: {{aepisode.audioFile.progress}}%")
		form.form-horizontal
			fieldset
				legend Añadir Episodio
				.upload-file.form-group
					.col-lg-12
						.form-control-wrapper.fileinput(ngf-select,ng-model="aepisode.audioFile",name="file")
							i.upload-icon.mdi-image-audiotrack(ng-class="{go: aepisode.audioFile.name }")
							p(ng-if="!aepisode.audioFile.name") Upload Audio File
							p(ng-if="aepisode.audioFile.name") {{aepisode.audioFile.name}}
							//- input.form-control.empty(type="text",readonly,placeholder="Browse...",ng-model="aepisode.audioFile.name")
							//- input(type="file",ngf-select,ng-model="aepisode.audioFile",name="file")
				button.btn.btn-primary.pull-right(ng-click="aepisode.upload()") Subir
		.alert.alert-danger(ng-if="aepisode.uploadError")
			.pull-left.mdi-alert-error 
			div {{aepisode.uploadError}}
		audio(ng-if="aepisode.new.fileName",id="my-audio",ng-src="{{aepisode.new.audioFilePath}}")
	.well.bs-component(ng-if="aepisode.new.fileName")
		form.form-horizontal
			fieldset
				legend Información General
				.audio-preview.audio-player.small
					h4 Audio Preview
					sound-manager
					.flex-row
						.actions.flex50
							button.btn.btn-fab.btn-raised(music-player="play",add-song="aepisode.song",ng-if="!currentPlaying")
								i.mdi-av-album
							button.btn.btn-fab.btn-raised(play-music,ng-if="currentPlaying && !isPlaying")
								i.mdi-av-play-arrow
							button.btn.btn-fab.btn-raised(pause-music,ng-if="isPlaying")
								i.mdi-av-pause
							button.btn.btn-fab.btn-raised(stop-music,ng-if="isPlaying")
								i.mdi-av-stop
						.information.flex50
							p {{ currentPlaying.title }} by {{ currentPlaying.artist }} 
							p ({{ currentPostion }} / {{ currentDuration }})
							.bar.progress.progress-striped.seekBase(seek-track,ng-class="{active:isPlaying}")
								.progress-bar.seekLoad(ng-style="{width: ( progress + '%' ) }")
				.information
					.form-group
						label.col-lg-2 Título
						.col-lg-10
							input.form-control(type="text",placeholder="Título",ng-model="aepisode.new.title")
					.form-group
						label.col-lg-2 Subtítulo
						.col-lg-10
							input.form-control(type="text",placeholder="Subtítulo",ng-model="aepisode.new.subtitle")
					.form-group
						label.col-lg-2 Descripción
						.col-lg-10
							input.form-control(type="text",placeholder="Descripción",ng-model="aepisode.new.summary")
					.form-group
						label.col-lg-2 Autor
						.col-lg-10
							input.form-control(type="text",placeholder="Autor",ng-model="aepisode.new.author")
					.form-group
						label.col-lg-2 Fecha de publicación
						.col-lg-10
							input.form-control(type="text",placeholder="Fecha de publicación",ng-model="aepisode.new.pubDate")
					.form-group
						label.col-lg-2 Keywords
						.col-lg-10
							input.form-control(type="text",placeholder="Copyright",ng-model="aepisode.new.keywords")
				button.btn.btn-primary.pull-right(ng-click="aepisode.save()") Guardar
				button.btn.pull-right(ng-click="aepisode.cancel()",clear-playlist) Cancelar
		.alert.alert-danger(ng-if="channel.errors")
			.pull-left.mdi-alert-error 
			div {{channel.errors}}