
<div id="channel">
  <div class="page-header">
    <h1>Tu Canal</h1>
  </div>
  <div class="page-header">
    <h2>Información General</h2>
  </div>
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <legend>{{channel._info.title}}</legend>
        <div class="flex-row">
          <div class="flex50">
            <div ngf-select="ngf-select" ngf-resize="{width: 150, height: 150}" ngf-change="channel.checkImage()" ng-model="channel.info.image" name="channelImage" style="text-align:center;color:#CCC;cursor:pointer;" class="image-uploader">
              <div style="font-size:200px;" ng-if="!channel.info.image &amp;&amp; !channel.cover" class="mdi-image-image"></div><img ngf-src="channel.info.image" ng-if="channel.info.image &amp;&amp; !channel.cover"/><img ng-src="{{channel.cover}}" ng-if="channel.cover"/>
              <p>Change Image</p>
            </div>
          </div>
          <div class="flex">
            <div class="form-group">
              <label class="col-lg-2">Título</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Título" ng-model="channel.info.title" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2">Subtítulo</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Subtítulo" ng-model="channel.info.subtitle" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2">Descripción</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Descripción" ng-model="channel.info.description" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2">Autor</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Autor" ng-model="channel.info.author" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2">Email del Autor</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Email de Autor" ng-model="channel.info.author_email" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2">Lenguaje</label>
              <div class="col-lg-10">
                <select placeholder="Lenguaje" ng-model="channel.info.language" class="form-control">
                  <option value="en/us">en/us</option>
                  <option value="es/mx">es/mx</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2">Copyright</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Copyright" ng-model="channel.info.copyright" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2">Contenido Explícito</label>
              <div class="col-lg-10">
                <select placeholder="Contenido Explícito" ng-model="channel.info.explicit" class="form-control">
                  <option value="yes">Si</option>
                  <option value="no">No</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <button ng-click="channel.update()" ng-if="!channel.updating" class="btn btn-primary pull-right">Guardar</button>
        <button ng-if="channel.updating" class="btn btn-primary pull-right">Guardando</button>
        <button ng-click="channel.reset()" class="btn pull-right">Reestablecer</button>
        <div class="clearfix"></div>
        <div ng-show="channel.updateProgress &gt;= 0" class="progress progress-striped">
          <div style="width: {{channel.updateProgress}}%" class="progress-bar progress-bar-info"></div>
        </div>
      </fieldset>
    </form>
    <div ng-if="channel.errors" class="alert alert-danger">
      <div class="pull-left mdi-alert-error"> </div>
      <div>{{channel.errors}}</div>
    </div>
  </div>
  <div class="page-header flex-row">
    <h2 class="flex80">Episodios</h2>
    <div class="flex20"> 
      <button ng-click="channel.addEpisode()" class="btn pull-right">
        <div class="mdi-content-add-box"></div>&nbsp; Añadir Episodio
      </button>
    </div>
  </div>
  <table-player songs="channel.episodes" open="channel.openEpisode(id)"></table-player>
</div>