
<div id="list-channels">
  <div class="page-header">
    <h1>Tus canales</h1>
  </div>
  <div class="well bs-component">
    <div class="list-group">
      <div ng-repeat="item in lchannel.list" class="list-group-item">
        <div class="row-picture"><img ng-src="{{item.imageUrl}}" class="circle"/></div>
        <div class="row-content">
          <div class="flex-row">
            <div class="flex50">
              <h4 class="list-group-item-heading">{{item.title}}</h4>
              <p class="list-group-item-text">{{item.description}}</p>
            </div>
            <div class="actions flex50"><span class="delete mdi-action-delete pull-right"></span><span ng-click="lchannel.openChannel(item.id)" class="launch mdi-action-launch pull-right"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>