#list-channels
	.page-header
		h1 Tus canales
	.well.bs-component
		.list-group
			.list-group-item(ng-repeat="item in lchannel.list")
				.row-picture
					img.circle(ng-src="{{item.imageUrl}}")
				.row-content
					.flex-row
						.flex50
							h4.list-group-item-heading {{item.title}}
							p.list-group-item-text {{item.description}}
						.actions.flex50
							i.delete.mdi-action-delete.pull-right
							i.launch.mdi-action-launch.pull-right(ng-click="lchannel.openChannel(item.id)")