
<div class="login">
  <div class="login-body">
    <h1 class="title">Podcast Manager</h1>
    <div class="login-form">
      <form class="form-horizontal">
        <fieldset>
          <legend>Iniciar Sesión</legend>
          <div class="form-group">
            <div class="col-lg-12">
              <input id="inputUser" type="text" placeholder="User" ng-model="login.user" class="form-control"/>
            </div>
          </div><br/>
          <div class="form-group">
            <div class="col-lg-12">
              <input id="inputPass" type="password" placeholder="Password" ng-model="login.pass" class="form-control"/>
            </div>
          </div>
        </fieldset>
      </form>
      <div ng-if="login.error" class="alert alert-danger">
        <div class="pull-left mdi-alert-error"> </div>
        <div>{{login.error}}</div>
      </div>
    </div>
  </div>
  <button ng-click="login.send()" class="login-button btn btn-primary btn-lg btn-block">Login</button>
</div>